
:root {
  --black: #1f1f1f;
  --white: #fff;
  --light-purple: #7171b6;
  --dark-purple: #5e2ed6;
  --faded-purple: #cacae5;
  /*to add a shadow to the nav bar so it looks more devided in the website*/
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* Does NOT work on Safari */
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  line-height: 1;
  /* color: #555; */
  font-family: "poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;

  /* ADDING THE LEAF CURVE LINE */
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-image: url("../img/background-curve-liine.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: auto;
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 4rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  text-align: left;
}
.heading-quad {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  text-align: left;
  padding: 10px;
}
.submit {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;

  width: 8em;

  background-color: #5e2ed6;
  color: white;
  align-items: left;
}
.submit:hover,
.submit:active {
  background-color: white;
  color: var(--dark-purple);
  filter: drop-shadow(5px 5px 5px rgba(59, 11, 137, 0.6));
  border: 1px solid var(--dark-purple);
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 50px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--dark-purple);
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--dark-purple);
  filter: drop-shadow(5px 5px 5px rgba(59, 11, 137, 0.6));
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--light-purple);

  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fffffff4;
}

.link:link,
.link:visited {
  display: inline-block;
  color: var(--light-purple);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: var(--light-purple);
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--light-purple);
}

*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
  /* outline-offset: 8px; */
  border: 1px solid var(--dark-purple);
}

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
  border: 2px solid #5e2ed6 !important;
}
.margin-right-sm:hover,
.margin-right-sm:active {
  background-color: white !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
