
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
  }
  /*=======NAV  BAR=========*/
  /* Setting some of the bases here so i can refer to them later in the code*/
  :root {
    --black: #1f1f1f;
    --white: #fff;
    /*to add a shadow to the nav bar so it looks more devided in the website*/
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --transition: all 0.2s linear;
  }
  
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
  }
  h2{
    font-family: Scotch Display Fat;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li {
    list-style: none;
  }
  
  img {
    height: 100%;
  }
  
  
  /* =========== Header =========== */
  .logo {
    height: 150px;
    width: auto;
    float: left;  
    margin-top: 10px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*made the navbar fixed*/
    padding: 1rem 7%;
    height: 8rem;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 1000;
  }
  
  .navbar a {
    font-weight: 500;
    transition: var(--transition);
    padding: 4rem;
    border:none;
    font-size: 1.2rem;
  }
  
  .navbar a:hover {
    color: rgb(152, 176, 158);
    border: none;
  }
  .megreen{
    margin-top: 20px;
    margin:0 200px;
  }
  .greenbox{
    z-index: 1;
    width:360px;
    height: 467px;
    border-radius: 11px;
    background-color: rgb(129, 155, 121);
    float: right; 
    
  }
  .picbox{
    float: right;
    z-index: 2;
    width:360px;
    height: 467px;
    border-radius: 11px;
    margin-top: 1rem;
    margin-right: -23.5em;
  }
  .heading{
    font-family: Century Gothic Pro;
    font-size: 40px;
    margin-left: 15rem;
    margin-top: 14rem;
}
.heading p strong{
    color: rgb(31,97,81);
}
.heading .btn button{
    height: 60px;
    width: 200px;
    background-color:rgb(129, 155, 121) ;
    color: white;
    border-radius: 11px;
    border: 1px solid rgb(68, 91, 68);
    margin: 0 35px;
    margin-bottom: 5rem;
    font-size: 20px;
    font-weight: 300;
    padding: 0 10px;
    cursor: pointer;
}


.artworks {
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 10em;
    padding: 2em;
    margin-left: 20rem;
    margin-right: 20rem;
  }
  .artwork {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    border-radius: 117px;
    padding: 1rem;
    box-shadow: inset 0px 0px 40px gray;
  }
  .color1{
    background-color: #E6EDFF;
  }
  .color2{
    background-color: #D9F6F1;
  }
  .color3{
    background-color: #F9F7C7;
  }
  .color4{
    background-color: #E6DBEB;
  }
  
  .artwork h2 {
    order: 0;
    margin: 0;
    padding-top: 5px;
    text-align: center;
    
  }
  
  .artwork a img{
    width:30rem;
    order: 1;
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    justify-content: center;
  }
  .box img {
    width: 350px;
    height: 470px;
  }
  .box1 a img {
    object-fit: cover;
    border-radius: 117px;
  }

/*========FOOTER============*/
.greenback{
    background-color: #BDCBBE;
    width: 100%; 
}
.footercontent{
    margin-left: 6rem;
}
.greenback h2{
    font-size: 3rem;
    top: 4rem;
}

.greenback{
  height: 388px;
}
.footercontent{
  margin-left: 14rem;
}  

  /* less than 996px, size of the logo, the padding and the margin of the nav items decreases */
  @media (max-width: 996px) {
    .logo {
      font-size: 1rem;
      margin-left: -5rem;
      margin-right: -5rem;
    }
  
    .navbar a {
      padding: 1rem;
      margin-left: -1rem;
    }
  
    .navbar a:not(:last-child) {
      margin-right: 0.5rem;
    }
    .heading{
        margin-top: 10rem;
    }
    .heading p{
      font-size: 2rem;
      padding-top: 2rem;
    }
    .megreen{
      margin:0 12rem;
    }
    .greenbox{
      width:240px;
      height: 310px;
    }
    .picbox{
      width:240px;
      height: 310px;
      margin-top: -18.5em;
      margin-right: -1em;
    }
    .artworks {
      display:grid;
      grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
      gap: 10em;
      padding: 2em;
      margin-left: 10rem;
      margin-right: 10rem;
    }
    .artwork {
      border-radius: 80px;
    }
    .artwork a img{
      width:20rem;
      height: 30rem;
    }
    .box img {
      width: 350px;
      height: 470px;
    }
    .box1 a img {
      object-fit: cover;
      border-radius: 80px;
    }
    
    .greenback{
        height: 150px;
    }
  }