/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 5.5rem;
}
.logo:link,
.logo:visited,
.logo:active {
  border: white;
  display: inline-block;
  text-decoration: none;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.5rem;
  transition: all 0.3s;
  border: none;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--light-purple);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 50px;
  color: #fff;
  background-color: var(--light-purple);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--dark-purple);
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #ffffff79;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 70%;
  max-width: 100%; /* Ensuring it doesn't exceed the container width */
  filter: drop-shadow(10px 5px 5px var(--dark-purple));
  margin-bottom: 10em;
}

/**************************/
/* MY WORK SECTION */
/**************************/

.section-mywork {
  padding: 9.6rem 0;
  background-color: var(--dark-purple);
}

.mywork-plan {
  border-radius: 15px;
  width: 100%;
}

.mywork-plan--1 {
  justify-self: end;
  border: 2px solid #f8f6ff;
  padding: 4.6rem;
}
.lightfont {
  color: white !important;
}
.lightbtn {
  background-color: white !important;
  color: var(--dark-purple) !important;
}
.lightbtn:hover,
.lightbtn:active {
  border: 1px solid white !important;
  background-color: var(--dark-purple) !important;
  filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.6)) !important;
  color: white !important;
}

.mywork-plan--2 {
  background-color: #f8f6ff;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-sing-up {
  text-align: left;
  margin-top: 4.8rem;
}
.seemywork:hover,
.seemywork:active {
  border: 1px solid var(--dark-purple) !important;
  background-color: white !important;
  filter: drop-shadow(5px 5px 5px rgba(59, 11, 137, 0.6));
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: left;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  color: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;

  background-color: #f3f0fb;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--faded-purple);
  z-index: -1;
}

.step-img {
  width: 35%;
  /* z-index: 10; */
}

/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* top / horizontal / left */
  /* padding: 2rem 0 12.8rem; */
  padding: 4em 10em;
}

.cta {
  /* display: grid; */
  /* 2/3 = 66.6% + 1/3 = 33.3% */
  /* grid-template-columns: 2fr 1fr; */
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(59, 11, 137, 0.4);
  border-radius: 40px;
  background-color: #cacae5a0 !important;
  margin: 5em 10em;

  /* background-image: linear-gradient(to right bottom, #eb984e, #e67e22); */
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  text-align: center;
}
.title {
  color: var(--dark-purple) !important;
  font-size: 4em !important;
}

.cta .heading-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.cta-form {
  /* display: grid; */
  display: flex;
  text-align: left;
  /* grid-template-columns: 1fr 1fr; */
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  flex-direction: column;
  align-items: left;
  margin-left: 8rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder,
.cta-form textarea::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 1rem 0.8rem rgba(237, 233, 253, 0.5);
}

#message {
  height: 150px;
  width: 100%;
  max-width: 900px;
}

#name,
#email {
  width: 100%;
  max-width: 500px;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group > div {
  flex: 1;
  margin-right: 10px;
}

textarea {
  width: 100%;
  height: 150px;
  resize: vertical;
}

/**************************/
/* FOOTER */
/***************************/

.footer {
  padding: 12.8rem 0;
  /* border-top: 1px solid var(--dark-purple); */
  background-color: var(--dark-purple);
}

.grid--footer {
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--faded-purple);
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--faded-purple);
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #000000;
}

/******************************************************************************/
/* WORK.HTML */
/******************************************************************************/
.sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -3em;
  margin-left: 5em;
  margin-right: 5em;
}

.card {
  width: 30rem;
  margin: 10px;
  border: 1px solid var(--dark-purple);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(70, 2, 2, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.card-body {
  background-color: #f7f7f7;
  padding: 15px;
}

.card-text {
  color: #333;
  font-size: 14px;
}

/**************************/
/* STICKY WORK NAV */
/***************************/
.work-nav {
  position: sticky;
  top: 0;
  background-color: var(--light-purple);
  margin: 0 40em;
  z-index: 100;
  border-radius: 50px;
}

.work-nav-list {
  list-style: none;
  padding: 0.7em;
  font-size: 1.6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 50px;
}

.work-nav-link:hover,
.work-nav-link:active {
  background-color: var(--dark-purple);
  border-radius: 50px;
}
.work-nav-link:visited {
  text-decoration: none;
  border: 1px solid var(--light-purple);
}

/**************************/
/* CAROUSEL */
/***************************/
#carouselExampleIndicators {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Adjust the height as needed */
}

/* Make the images smaller and maintain aspect ratio */
.carousel-inner .carousel-item img {
  max-height: 500px; /* Adjust the max-height as needed */
  width: 100%;
  max-width: 900px;
  object-fit: cover;
  margin: 0 auto;
}
