<!-- Coding -->
        <h1 id="code" class="heading-secondary sections">Coding</h1>
        <div class="card-container coding">
          <div class="card">
            <img
              src="img/code/samkamaliwebsite-1.PNG"
              class="card-img-top"
              alt="samkamali"
            />
            <div class="card-body">
              <p class="card-text heading-quad">
                <a
                  href="https://sam-kamali.github.io/portfolio/"
                  target="_blank"
                >
                  Personal Portfolio
                </a>
              </p>
            </div>
          </div>

          <div class="card">
            <img src="img/code/swirl-1.PNG" class="card-img-top" alt="swirl" />
            <div class="card-body">
              <p class="card-text heading-quad">
                <a
                  href="https://sam-kamali.github.io/Kama0104-mtm6201-midterm/"
                  target="_blank"
                >
                  Magic Swirls</a
                >
              </p>
            </div>
          </div>

          <div class="card">
            <img src="img/code/Pizza-1.PNG" class="card-img-top" alt="pizza" />
            <div class="card-body">
              <p class="card-text heading-quad">
                <a
                  href="https://codepen.io/Kama0104/pen/ExOPgxd"
                  target="_blank"
                  >Make Pizza</a
                >
              </p>
            </div>
          </div>

          <div class="card">
            <img
              src="img/code/Light Bulb-1.PNG"
              class="card-img-top"
              alt="light"
            />
            <div class="card-body">
              <p class="card-text heading-quad">
                <a
                  href="https://codepen.io/Kama0104/pen/XWByGdr"
                  target="_blank"
                  >Light Bulb Switch</a
                >
              </p>
            </div>
          </div>

          <div class="card">
            <img
              src="img/code/rocket-1.PNG"
              class="card-img-top"
              alt="rocket"
            />
            <div class="card-body">
              <p class="card-text heading-quad">
                <a
                  href="https://codepen.io/Kama0104/pen/MWqGzaZ"
                  target="_blank"
                  >Rocket</a
                >
              </p>
            </div>
          </div>
          <div class="card">
            <img src="img/code/Boxes.PNG" class="card-img-top" alt="boxes" />
            <div class="card-body">
              <p class="card-text heading-quad">
                <a
                  href="https://codepen.io/Kama0104/pen/YzReGvd"
                  target="_blank"
                  >Animated Boxes</a
                >
              </p>
            </div>
          </div>
        </div>

        <script src="js/digital-art.js"></script>
        <script src="js/script.js"></script>