<h1 id="art" class="heading-secondary sections digital">Digital Art</h1>
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              class="active"
              aria-current="true"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="4"
              aria-label="Slide 5"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="5"
              aria-label="Slide 6"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="6"
              aria-label="Slide 7"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="7"
              aria-label="Slide 8"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="8"
              aria-label="Slide 9"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="9"
              aria-label="Slide 10"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="10"
              aria-label="Slide 11"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="11"
              aria-label="Slide 12"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="img/manipulation-arts/1.jpg"
                class="d-block w-100"
                alt="1"
              />
            </div>
            <div class="carousel-item">
              <img
                src="img/manipulation-arts/2.jpg"
                class="d-block w-100"
                alt="2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="img/manipulation-arts/3.jpg"
                class="d-block w-100"
                alt="3"
              />
            </div>
            <div class="carousel-item">
              <img
                src="img/manipulation-arts/4.jpg"
                class="d-block w-100"
                alt="4"
              />
            </div>
            <div class="carousel-item">
              <img
                src="img/manipulation-arts/5.jpg"
                class="d-block w-100"
                alt="5"
              />
            </div>
            <div class="carousel-item">
              <img
                src="img/manipulation-arts/6.jpg"
                class="d-block w-100"
                alt="6"
              />
            </div>
            <div class="carousel-item">
              <img
                src="img/manipulation-arts/7.jpg"
                class="d-block w-100"
                alt="7"
              />
            </div>
            <div class="carousel-item">
              <img
                src="img/manipulation-arts/8.jpg"
                class="d-block w-100"
                alt="8"
              />
            </div>
            <div class="carousel-item">
              <img
                src="img/manipulation-arts/9.jpg"
                class="d-block w-100"
                alt="9"
              />
            </div>
            <div class="carousel-item">
              <img
                src="img/manipulation-arts/10.jpg"
                class="d-block w-100"
                alt="10"
              />
            </div>
            <div class="carousel-item">
              <img
                src="img/manipulation-arts/11.jpg"
                class="d-block w-100"
                alt="11"
              />
            </div>
            <div class="carousel-item">
              <img
                src="img/manipulation-arts/12.jpg"
                class="d-block w-100"
                alt="12"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>