<!-- UI/UX -->
        <h1 id="uiux" class="heading-secondary sections">UI/UX Design</h1>
        <div class="card-container" id="card-container">
          <div class="card">
            <img src="img/ui-ux/jitto.png" class="card-img-top" alt="jitto" />
            <div class="card-body">
              <p class="card-text heading-quad">
                <a href="https://pin.it/1jK4f1k" target="_blank"> Jitto</a>
              </p>
            </div>
          </div>

          <div class="card">
            <img
              src="img/ui-ux/karbord1.png"
              class="card-img-top"
              alt="karbord"
            />
            <div class="card-body">
              <p class="card-text heading-quad">
                <a href="#" target="_blank"> Karbord Computer </a>
              </p>
            </div>
          </div>

          <div class="card">
            <img
              src="img/ui-ux/House of targ.png"
              class="card-img-top"
              alt="House of targ"
            />
            <div class="card-body">
              <p class="card-text heading-quad">
                <a href="https://pin.it/521dakb" target="_blank">
                  House of Targ (Redesign)</a
                >
              </p>
            </div>
          </div>

          <div class="card">
            <img
              src="img/ui-ux/sous chef.png"
              class="card-img-top"
              alt="sous chef"
            />
            <div class="card-body">
              <p class="card-text heading-quad">
                <a href="https://pin.it/63l2G9t" target="_blank"> Sous Chef</a>
              </p>
            </div>
          </div>

          <div class="card">
            <img
              src="img/ui-ux/vudu mockup 1.png"
              class="card-img-top"
              alt="vudu"
            />
            <div class="card-body">
              <p class="card-text heading-quad">
                <a href="https://pin.it/2FbT4GZ" target="_blank">
                  VUDU (Redesign)</a
                >
              </p>
            </div>
          </div>

          <div class="card">
            <img
              src="img/ui-ux/sushikan.png"
              class="card-img-top"
              alt="sushi kan"
            />
            <div class="card-body">
              <p class="card-text heading-quad">
                <a href="https://pin.it/FkgVLvi" target="_blank"
                  >Sushi Kan (Redesign)</a
                >
              </p>
            </div>
          </div>

          <div class="card">
            <img
              src="img/ui-ux/magic swirl.png"
              class="card-img-top"
              alt="magic swirl"
            />
            <div class="card-body">
              <p class="card-text heading-quad">
                <a href="https://pin.it/3pCkocK" target="_blank">
                  Magic Swirl</a
                >
              </p>
            </div>
          </div>
        </div>